*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

/* top heading style  */

.top_header {
    margin-top: 21px;
     margin-bottom: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
 .top_header .btn{
                padding: 12px;
                margin-right: 12px;
                border: none;
                border-radius: 13px;
                background-color: #5b58b0;
                font-size: 19px;
               font-weight: 300;
                color: #fff;
                letter-spacing: 1.2px;
 }
 .top_header .btn:hover{
    background-color: #fff;
    color: #5b58b0;
 }
a{
    text-decoration: none;

}
.top_header a > img {
    margin-left:18px;
    width: 75%;
    margin-left: 5%;
}
.top_header ul  {
        margin-right: 35%;
        /* margin-right:510px; */
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      column-gap: 16px;
      row-gap: 10px;
}

.top_header ul li a {
       font-size: 19px;
       color: #363434;
}

.top_header ul li a:hover {
    text-decoration: underline;
    color: #5b58b0;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_left{
    width:35%;
    margin-left: 18px;
}

.main_right{
    width: 65%;
   
}

.main_left h1 {

        font-size: 50px;
}

@media  (max-width:660px){
       .media{
          margin:0;
          font-size:15px;
          color: #5955b2;
       }
}
.main_left h1 .span_h1{
      color: #5955b2;
}
.main_left p {
        margin-top: 12PX;
        
        font-size: 12PX;
}
.btn_2 {
    margin-top:41px;
    padding: 16px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    font-weight: bold;
    background-color: #5955b2;
    color: #fff;
    letter-spacing: 1px;
}
.btn_2:hover{
      background-color: #fff;
      color: #5955b2;
}